.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

section {
  width: 100%;

  &.white {
    background: #fff;
    color: #000;
  }

  &.black {
    background: #000;
    color: #fff;
  }

  &.blue {
    background: rgb(7, 7, 26);
    color: #fff;
  }
}
