
.App-logo {
  // animation: App-logo-spin infinite 20s linear;
  // height: 40vmin;
  // pointer-events: none;
}

.App-header {
  background-color: #eee;
  padding: 3vh 3vw; 
  width: 94vw;
  img {
    width: 100%;
    max-width: 680px;
  }
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
