.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}


.page {
  width: 100%;

  &.white {
    background: #fff;
    color: #000;
  }

  &.blue {
    background: rgb(7, 7, 26);
    color: #fff;
  }
}
